<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height:500px;">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">

        <div class="card bg-warning mt-4">
          <h4 class="text-white ps-3 pt-2 pb-2">TO DO LIST</h4>
        </div>

        <div class="shadow">
          <div class="input-group p-4">
            <input #addtask type="text" class="form-control" placeholder="Enter Task" >
            <button class="btn btn-outline-success" type="button"(click)="newtask(addtask.value)" >+</button>
          </div>
        </div>

        <h4 class="text-primary mt-4">Tasks</h4>
        <div style="overflow-y: auto; height: 300px;">
          <div class="m-3" *ngFor = "let a of task">
            <div class="p-2 shadow border">
              <div class="input-group row ps-3" >
                <div class="card col-md-10 border-0 ">{{a.title}}</div>
                <button class="btn btn-outline-primary col me-2 " disabled>E</button>
                <div class="btn btn-outline-danger col" (click)="removetask(a.id)">X</div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>